{% extends 'base.html.twig' %}

{% block header_title %}
    {% if app.user.role == ['ROLE_ADMIN'] %}<h1>Modifier <strong>{{ user.username }}</strong></h1>{% endif %}
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {% if app.user.role == ['ROLE_ADMIN'] %}
            {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Vous n'avez pas les droits nécessaires à la visualisation de cette page.
            </div>
        {% endif %}
    </div>
{% endblock %}
